<!-- Data Handling ie. Showing data in HTML and bindings of events etc. -->
<!-- <app-data-handling></app-data-handling> -->


<!-- Lifecycle of angular components and Communication using @Output and @Input between components -->
<!-- <button (click)="show_lifecycle=!show_lifecycle">click_to_toggle lifecycle component</button>
<app-lifecycle *ngIf="show_lifecycle" input_from_others="input"
(event_to_others)="logit($event)"></app-lifecycle> -->


<!-- Reactive and declarative forms -->
<!-- <app-form-handling></app-form-handling> -->

<!-- Observables creation usage and Reactive Programming introduction -->
<!-- <app-observables-ex></app-observables-ex> -->

<!-- Creating services using Injectables -->
<!-- <app-dep-inject></app-dep-inject> -->

<!-- Using HTTP -->
<!-- <app-http-interact></app-http-interact> -->

<!-- Using Websocket -->
<!-- <app-websocket></app-websocket> -->

<!-- Using Routes -->
<app-router-working></app-router-working>

<!-- <router-outlet></router-outlet> -->